body {
    min-height: 100vh;
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(100, 6, 145) 44%, rgb(100, 6, 145) 51%, rgb(4, 1, 7) 100%);*/
    color: white;
    margin: 0;
}

.musicPlayer {
    background: linear-gradient(90deg, rgb(100, 6, 145) 0%, rgb(4, 1, 7) 44%, rgb(14, 9, 16) 51%, rgb(100, 6, 145) 100%);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    height: 90vh; /* Adjust to fit the viewport */
    width: 375px; /* iPhone standard width */
    max-width: 100%;
    box-shadow: 0px 0px 15px rgb(223, 164, 14);
    transition: box-shadow 0.3s ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.musicPlayer:hover {
    box-shadow: 0px 0px 25px rgb(255, 166, 0);
}
.login-edit{
    /*background: linear-gradient(90deg, rgb(100, 6, 145) 0%, rgb(4, 1, 7) 44%, rgb(14, 9, 16) 51%, rgb(100, 6, 145) 100%);*/
    padding: 20px;
    margin: 20px;
    top: 80px;
    /*border-radius: 20px;*/
    /*text-align: center;*/
    height: 30vh; /* Adjust to fit the viewport */
    width: 100%; /* iPhone standard width */
    /*max-width: 100%;*/
    box-shadow: 0px 0px 15px rgb(133, 133, 133);
    transition: box-shadow 0.3s ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-login{
    padding: 7px;
    /*margin: 20px;*/
}


.controls {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
}

button, .login {
    background: #b751fd;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    transition: 0.3s;
}
.login{
    border-radius: 10px;
    font-family: "Arial Narrow";
}
button:hover {
    background: #fffefe;
}

button:active {
    transform: scale(0.95);
}

input[type="range"] {
    width: 100%;
    margin-top: 50px;
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
    background: #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.menu-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    transition: 0.3s;
    color: white;
}

.menu-icon:hover {
    color: darkorange;
}

.darkMode {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
    transition: 0.3s;
}

.darkMode:hover {
    color: darkorange;
}

.light-mode {
    background: linear-gradient(90deg, rgb(100, 6, 145) 0%, rgb(255, 255, 255) 44%, rgb(255, 255, 255) 51%, rgb(100, 6, 145) 100%);

    color: black;
}

.light-mode button {
    color: white;
    background: #333;
}

.light-mode button:hover {
    background: #555;
}

.light-mode .theme-toggle {
    color: black;
}

.albumPhoto {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    margin: 20px auto;
}

@media (max-width: 400px) {
    .musicPlayer {
        width: 90%;
    }
}

.menu-options{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 10px;
    background:#222;
    border: 1px solid #555;
    padding: 10px;
    border-radius: 8px;
    z-index: 10;
}

.menu-options a{
    color: white;
    text-decoration: none;
    padding: 8px;
    transition: background 0.2s ease;

}

.menu-options a:hoover{
    background-color: #555;

}